* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0C0C0D;
  color: #fff;
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  margin-top: 100px;
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  font-size: 25px;
}

h2 {
  margin: 20px 0 10px 0;
  font-size: 15px;
  font-weight: 200;
  color: #ffffffb6;
}

p {
  margin: 10px;
  font-size: 15px;
}

input {
  box-sizing: border-box;
  width: 100%;
}

button {
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 3px;
  transition: .3s;
  margin-right: 10px;
  background-color: transparent;
}

button:hover {
  opacity: .8;
}

#addBtn {
  font-size: 50px;
  color: #533581;
  margin-top: 40px;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.todo {
  background-color: #17171A;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #303030;
}

.complete {
  background-color: #4a834a;
  padding: 5px;
}

.remove {
  background-color: #964240;
  padding: 5px;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

input, select {
  color: #ffffff9d;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #303030;
  border-radius: 3px;
  width: 100%;
  background-color: #17171A;
}

.options {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.category {
  background-color: #5335818c;
  padding: 5px 10px;
  border-radius: 3px;
}